[submodule "Dummy_DuT/REST_Dummy_DuT/restbed"]
	path = Dummy_DuT/REST_Dummy_DuT/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "Sim_To_DuT_Interface/DuTLogger/quill"]
	path = Sim_To_DuT_Interface/DuTLogger/quill
	url = https://github.com/odygrd/quill.git
[submodule "Sim_To_DuT_Interface/DuT_Connectors/V2XConnector/cube-its"]
	path = Sim_To_DuT_Interface/DuT_Connectors/V2XConnector/cube-its
	url = git@bitbucket.org:nfiniity/cube-its.git

